*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#container {
    background-color: lightgrey;
    width: 480px;
    height: 480px;

    border: 0.5px solid black;
    
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.row {
    flex: 1;
    display: flex;
}

.gridElement {
    border: 0.5px solid black;
    flex: 1;
}

