*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#main {
    display: flex;
    align-items: center;
    flex-direction: column;
}
#container {
    width: 480px;
    height: 480px;

    border: 0.5px solid black;
    
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
}

.row {
    flex: 1;
    display: flex;
}

.gridElement {
    border: 0.5px solid lightgray;
    flex: 1;
}

#controls{
    display: flex;
    width: 480px;
    justify-content: space-between;
}

button {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid black;
}